<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="x-apple-disable-message-reformatting" />
    <title>Twoje konto zostało utworzone</title>
    <style>
        table, td, div, h1, p {
            font-family: Gill Sans, sans-serif;
        }
    </style>
</head>
<body style="margin:0;padding:0;">
    <table role="presentation" style="width: 100%; border-collapse: collapse; text-align: center;">
        <tr>
            <td align="center" style="padding:40px 0 10px 0;background:#fff;">
                <img src="{{LogoBase64}}"
                     alt="{{LogoName}}" width="{{LogoWidth}}" height="{{LogoHeight}}" style="display:block;" />
            </td>
        </tr>
        <tr>
            <td align="left" style="padding: 10px 30px 0 30px; font-size: 20px; color: {{TextColor}};">
                <p>Witaj, {{Name}}!</p>
                <p>Administrator utworzył dla Ciebie konto użytkownika w systemie.</p>
                <p>Twoje hasło:</p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 10px 30px 10px 30px;">
                <h1 style="background: {{BackgroundColor}}; border: solid 1px {{BackgroundColor}}; color: {{BackgroundTextColor}}; padding: 16px 32px; text-decoration: none; font-size: 24px;">
                    {{Password}}
                </h1>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 10px 30px 10px 30px;">
                <a href="{{AuthLink}}" style="text-decoration: underline;">Przejdź do strony logowania</a>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px 30px 10px 30px;">
                <p>Aby potwierdzić swój adres e-mail, kliknij poniższy przycisk:</p>
                <a href="{{ConfirmationUrl}}" style="text-decoration: none;">
                    <h1 style="background: {{BackgroundColor}}; border: solid 1px {{BackgroundColor}}; color: {{BackgroundTextColor}}; padding: 16px 32px; font-size: 24px;">
                        Potwierdź e-mail
                    </h1>
                </a>
            </td>
        </tr>
        <tr>
            <td align="left" style="padding: 10px 30px 0 30px; font-size: 16px; color: {{TextColor}};">
                <p>Jeśli nie utworzyłeś tego konta, zignoruj tę wiadomość lub skontaktuj się z administratorem.</p>
            </td>
        </tr>
    </table>
</body>
</html>
